# i literally stole this from tadeo...
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# confidential data!
src/server/databaseConfig.json


# misc
.vscode
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env