PORT=8080

COOKIE_SECRET=(insert secret here, such as 'your mom')
SESSION_SECURE=(true/false depending on https or http)
ENVIRONMENT=DEVELOPMENT


DB_HOST=(db host)
DB_USER=(db user)
DB_DB=(db name)
DB_PASSWORD=(db password)

CAPTCHA_SITE_KEY = (site key)
CAPTCHA_SECRET_KEY = (secret key)