# Port for Express Server
PORT=8080

# Milliseconds (from now) for user to be considered inactive
ACTIVITY_THRESHOLD=604800000

# Secret for site cookies. Very important that it's unrecognizable.
COOKIE_SECRET=
# Is your development session going to be secure? (HTTPS?)
SESSION_SECURE=false
# Environment (production/development)
ENVIRONMENT=DEVELOPMENT

### SQL INFORMATION, IMPORTANT
DB_HOST=
DB_USER=
DB_DB= 
DB_PASSWORD=
DB_PORT=

### Google Cloud Bucket Storage Name
STORAGE_BUCKET_NAME=authority-react-images
STORAGE_BUCKET_ID=

### Max upload size for image (in mb)
MAX_UPLOAD_SIZE = 5

### This is used for registration. AKA if you have a captcha users are required to fill out. Probably not required in development.
CAPTCHA_SITE_KEY = 
CAPTCHA_SECRET_KEY = 