.partyCard{
    padding:12px 6px 12px 6px;
    background-color: rgba(246,246,246,255);
    border-top:.15em solid;
    flex-direction: column;
    flex-wrap: wrap;
}
.partyCard h4{
    width:100%; 
}
.partyImgLogo{
    object-fit:cover;
    border-radius: 0%;
    mix-blend-mode: multiply;
    width:200px;   
    height:200px;
    margin:auto;
}
.partyCard{
    display:flex;
    align-items:center;
    justify-content:center;
}
.editorTheme{
    text-align: left;
    max-width:40vw;
    max-height:40vh;
    overflow: auto;
}