.partyCard{
    padding:12px 6px 12px 6px;
    background-color: rgba(246,246,246,255);
    border-top:.15em solid;
    flex-direction: column;
    flex-wrap: wrap;
}
.partyCard h4{
    width:100%; 
}
.partyImgLogo{
    mix-blend-mode: multiply;
    max-width:100%;
    height:150px;
    margin:auto;
}
.partyCard{
    display:flex;
    align-items:center;
    justify-content:center;
}
